name: Run formatter

on: [push]

jobs:
  format:
    runs-on: ubuntu-latest
    name: Format code
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.9
      uses: actions/setup-python@v5
      with:
        python-version: 3.9
        cache: 'pip'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
      timeout-minutes: 5
    - name: Run black
      run: black --check .
      timeout-minutes: 5
